export("check_timing")
export("concat")
export("timing")
exportClasses("hours")
exportClasses("minutes")
exportClasses("seconds")
exportClasses("timing")
exportMethods("concat")
exportMethods("format")
exportMethods("mean")
exportMethods("median")
exportMethods("print")
exportMethods("quantile")
exportMethods("summary")
import(methods)
